body{
    background-color: black;
    font-size: 18px;
    font-family: sans-serif;
    color: aliceblue;
}
.meuNome{
    font-family: sans-serif;
    color: rgb(27, 204, 27);
    font-size: 22;
}
.descricao{
    font-family: sans-serif;
    font-weight: bold;
    background-color: blueviolet;
}